#navbar-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;
  display: flex;
  justify-content: center;
  background: #efefef;
  backdrop-filter: blur(2px);
}

#navbar-section .uxth-logo {
  width: 150px;
  height: auto;
}

#navbar-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

@media screen and (min-width: 600px) {
  #navbar-section {
    background-color: transparent;
    backdrop-filter: inherit;
  }
}
