#homepage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

#homepage .title-section {
  position: relative;
}

#homepage .dot-box {
  display: flex;
}

#homepage .point-dot {
  position: relative;
  margin-bottom: 8px;
}

#homepage .point-dot-green {
  width: 24px;
  height: auto;
}

#homepage .point-dot-blue {
  width: 24px;
  height: auto;
}

#homepage .point-dot-magenta {
  width: 24px;
  height: auto;
  margin-left: 8px;
  margin-right: 8px;
}

#homepage .wind-wheel-icon {
  position: absolute;
  z-index: 0;
  width: 300px;
  height: auto;
  top: 0px;
  right: 0px;
}

#homepage .elephant-icon {
  position: absolute;
  z-index: 0;
  width: 300px;
  height: auto;
  bottom: 0px;
  left: 0px;
}

#homepage .ux-thailand-conf {
  font-family: Manrope, sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #303030;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#homepage .coming-soon {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #303030;
  margin-top: 16px;
  letter-spacing: 2px;
}

@media screen and (min-width: 600px) {
  #homepage .point-dot {
    margin-bottom: inherit;
    position: absolute;
  }

  #homepage .point-dot-green {
    bottom: -16px;
    left: -16px;
    transform: translate(-100%, 100%);
  }

  #homepage .point-dot-blue {
    top: -16px;
    left: -16px;
    transform: translate(-100%, -100%);
  }

  #homepage .point-dot-magenta {
    margin-left: inherit;
    margin-right: inherit;
    bottom: -16px;
    right: -16px;
    transform: translate(100%, 100%);
  }

  #homepage .wind-wheel-icon {
    width: 400px;
  }

  #homepage .elephant-icon {
    width: 400px;
  }

  #homepage .ux-thailand-conf {
    font-size: 36px;
  }

  #homepage .coming-soon {
    font-size: 24px;
  }
}

@media screen and (min-width: 900px) {
  #homepage .wind-wheel-icon {
    width: 450px;
  }

  #homepage .elephant-icon {
    width: 450px;
  }

  #homepage .ux-thailand-conf {
    font-size: 48px;
  }
}
